<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="footer-logo">
          <img src="assets/images/logo.png" alt="سوق الحلال logo">
        </div>
        <p>سوق الحلال، أول متجر إلكتروني لتجارة المواشي في الأردن. نوفر لك راحتك وسنقوم بالتوصيل إلى باب منزلك</p>
        <div class="mt-4">
          <a href="https://www.facebook.com/eng.khashashneh" target="_blank" class="me-3">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/eng.khashashneh" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <h4 class="footer-heading">روابط سريعة</h4>
        <ul class="footer-links">
          <li><a routerLink="/shop">المتجر</a></li>
          <li><a routerLink="/my-account">حسابي</a></li>
          <li><a routerLink="/checkout">إتمام الطلب</a></li>
          <li><a routerLink="/cart">سلة المشتريات</a></li>
        </ul>
      </div>

      <div class="col-lg-4">
        <h4 class="footer-heading">معلومات التواصل</h4>
        <ul class="footer-links">
          <li>
            <i class="fas fa-map-marker-alt me-2"></i>
            الأردن، اربد
          </li>
          <li>
            <i class="fas fa-phone me-2"></i>
            <a href="tel:+962777279537">+962777279537</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="footer-bottom text-center">
      <p>{{ currentYear }} © جميع الحقوق محفوظة لدى موقع سوق الحلال. تم تطويره بواسطة Suleiman.Khashashneh</p>
    </div>
  </div>
</footer>